body {
  background: #f2f2f2;
}

.header {
  text-align: center;
  font-family: 'Fontdiner Swanky';
  font-size: 11vw;
  letter-spacing: 5px;
  font-weight: bold;
  color: #6b8650;
  margin-top: 40px;
}

.button {
  background: #cbed95;
  color: #343a38;
  font-weight: bold;
  margin: 5px;
}

.flex {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 5px;
}

// #f2f2f2
// #cbed95
// #6b8650
// #4e5d3d
// #343A38
