
.links {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;

  .butt {
    margin: 5px;
  }
}

.jumbo {
  background-color: #4e5d3d;
  margin: 10px;
  border-radius: 15px;

  .links a {
    font-family: 'Righteous', cursive;
  }
}

.links a {
  text-decoration: none;
  color: black;
  font-size: 5vw;

  .links a:active,
  .links a:focus {
    outline: none;
  }
}

.router {
  margin-top: 30px;
}
