@import 'utility';

$base-text-size: 16px;
$base-font-family: sans-serif;

html {
  @include full-height;
}

body {
  margin: 20px;
  font: $base-text-size / 1 $base-font-family;
  background-color: #5a8c5d;
}

h1 {
  text-align: center;
  font-size: 75px;
  margin: 30px 0;
  font-family: 'Luckiest Guy';
}

.butt {
  font-size: 20px;
  margin: 5px 0;
  padding: 10px;
  color: #b5babf;
  background-color: #022326;
  text-decoration: none;
}

ul {
  list-style: none;
}

h2 {
  color: #022326; 
}
// #b5babf;
// #022326;
// #063331;
// #314A4D;
// #5A8C5D;
